body {
  margin: 0;
  padding: 40px;
}

rh-table {
  max-width: calc(100% + 80px);
  margin: 0 -40px;
}

td {
  text-align: center;
}

/* Fighting rh-table style */
td.column--Preview[class][class][class] {
  padding: 4px;
}

td.column--fileName {
  text-align: left;
}

tr:has(.warning) {
  --rh-table--hoveredCol--Background: #ffeec1;
  --rh-table--hoveredRow--Background: #F9E0A2;
  --rh-table--hoveredIntersection--Background: #F6D173;

  background: #FDF7E7;
}

td.warning {
  --rh-table--hoveredCol--Background: #F9E0A2;
  --rh-table--hoveredRow--Background: #F6D173;

  background: #F9E0A2;
}

tr:has(.error) {
  --rh-table--hoveredCol--Background: #f7d6d2;
  --rh-table--hoveredRow--Background: #f9cac5;
  --rh-table--hoveredIntersection--Background: #f0a39a;

  background: #FAEAE8;
}

td.error {
  --rh-table--hoveredCol--Background: #f9cac5;
  --rh-table--hoveredRow--Background: #f0a39a;

  background: #f9cac5;
}

.js-lazy-load {
  display: block;
  width: 80px;
  height: 80px;
  background: #eee;
  border: 0;
}

.preview-image {
  display: block;
  max-width: 80px;
  height: auto;
  cursor: pointer;
}

.preview-image:not(.js-lazy-load) {
  box-shadow: 0 0 0 1px #06c;
}

.preview-image:not(.js-lazy-load):hover,
.preview-image:not(.js-lazy-load):focus {
  box-shadow: 0 0 0 2px rgb(0, 76, 152);
}

/* .modal__preview {} */

dialog {
  overflow: auto;
  border: 0;
  box-shadow: 2px 4px 20px #00000099;
}

dialog::backdrop {
  background: #00000099;
}

@supports (object-fit: contain) {
  .modal__preview {
    display: block;
    object-fit: contain;
    max-width: 90vw;
    max-height: 90vh;
  }
}