body {
  margin: 0;
  padding: 40px;
}

.content-expander__trigger {
  border: none;
  background-color: transparent;
}

.content-expander__trigger:hover {
  background-color: var(--fbc-light-gray);
}

.content-expander__trigger::after {
  content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 12px;
    margin-left: 10px;
    background-color: var(--fbc-blue-60);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.25s;
    transform: rotate(0deg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-image: url('/_listing-page-assets/chevron-down-solid.svg');
}
.content-expander__trigger[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

.content-expander {
  display: none;
  border: var(--fbc-borders);
  padding: 10px;
}

.content-expander[open] {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: var(--fbc-white);
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.16);
}

td {
  text-align: center;
}

/* Fighting rh-table style */
td.column--Preview[class][class][class] {
  padding: 4px;
}

td.column--fileName {
  text-align: left;
}

/* Highlight rows that have a warning */
tr:has(.warning) {
  --rh-table--hoveredCol--Background: #ffeec1;
  --rh-table--hoveredRow--Background: #F9E0A2;
  --rh-table--hoveredIntersection--Background: #F6D173;

  background: #FDF7E7;
}

/* Highlight cell with the warning */
td.warning {
  --rh-table--hoveredCol--Background: #F9E0A2;
  --rh-table--hoveredRow--Background: #F6D173;

  background: #F9E0A2;
}

/* Highlight rows that have a error */
tr:has(.error) {
  --rh-table--hoveredCol--Background: #f7d6d2;
  --rh-table--hoveredRow--Background: #f9cac5;
  --rh-table--hoveredIntersection--Background: #f0a39a;

  background: #FAEAE8;
}

/* Highlight cell with the error */
td.error {
  --rh-table--hoveredCol--Background: #f9cac5;
  --rh-table--hoveredRow--Background: #f0a39a;

  background: #f9cac5;
}

/* Images before they've been lazy loaded */
.js-lazy-load[class] {
  display: block;
  width: 80px;
  height: 80px;
  background: #eee;
  border: 0;
}

.preview-image {
  display: block;
  max-width: 80px;
  height: auto;
  cursor: pointer;
}

/* Images after they've been lazy loaded */
.preview-image:not(.js-lazy-load) {
  box-shadow: 0 0 0 1px #06c;
}
.preview-image:not(.js-lazy-load):hover,
.preview-image:not(.js-lazy-load):focus {
  box-shadow: 0 0 0 2px rgb(0, 76, 152);
}

dialog[open] {
  overflow: auto;
  border: 0;
  box-shadow: 2px 4px 20px #00000099;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close {
  align-self: flex-start;
  display: flex;
  align-items: center;
  border: none;
  padding: 10px;
}

.modal__close::after {
  display: block;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  margin-left: 15px;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-image: url('/_listing-page-assets/close.svg');
  
}

dialog::backdrop {
  background: #00000099;
}

@supports (object-fit: contain) {
  .modal__preview {
    display: block;
    object-fit: contain;
    max-width: 90vw;
    max-height: 90vh;
  }
}

.content-container {
  width: 75vw;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

button {
  display: block;
  margin-top: 2rem;
  padding: 1rem;
}

.back-link::before {
  content: "←";
  display: inline-block;
  margin-right: 10px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
}

@supports (display: grid) {
  .product-grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  gap: 10px;
  }
}

.product-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  
  padding: 10px;
  text-align: center;
  background-color: var(--fbc-light-gray);
}

.product-link:hover {
  background-color: var(--fbc-blue-60);
  color: var(--fbc-white);
}

.product-link--active {
  border: 1px solid var(--fbc-blue-70);
  
}

.image-download {
  padding: 15px;
  background-color: var(--fbc-blue-60);
  color: var(--fbc-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-download:hover {
  background-color: var(--fbc-blue-70);
  text-decoration: none;
}

.image-download:visited {
  color: var(--fbc-white);
}

.image-download::after {
  display: block;
  content: '';
  width: 1em;
  height: 1em;
  background-color: white;
  margin-left: 15px;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-image: url('/_listing-page-assets/download.svg');
}

