body {
  margin: 0;
  padding: 40px;
}

.content-expander__trigger {
  border: none;
}

.content-expander__trigger::after {
  content: ">";
  font-size: 1.25rem;
  transform: rotate(90deg);
  display: inline-block;
  transition: transform 0.5s ease;
  padding: 5px;
}
.content-expander__trigger[aria-expanded="true"]::after {
  transform: rotate(-90deg);
}

.content-expander {
  display: none;
}

.content-expander[open] {
  display: block;
}

td {
  text-align: center;
}

/* Fighting rh-table style */
td.column--Preview[class][class][class] {
  padding: 4px;
}

td.column--fileName {
  text-align: left;
}

/* Highlight rows that have a warning */
tr:has(.warning) {
  --rh-table--hoveredCol--Background: #ffeec1;
  --rh-table--hoveredRow--Background: #F9E0A2;
  --rh-table--hoveredIntersection--Background: #F6D173;

  background: #FDF7E7;
}

/* Highlight cell with the warning */
td.warning {
  --rh-table--hoveredCol--Background: #F9E0A2;
  --rh-table--hoveredRow--Background: #F6D173;

  background: #F9E0A2;
}

/* Highlight rows that have a error */
tr:has(.error) {
  --rh-table--hoveredCol--Background: #f7d6d2;
  --rh-table--hoveredRow--Background: #f9cac5;
  --rh-table--hoveredIntersection--Background: #f0a39a;

  background: #FAEAE8;
}

/* Highlight cell with the error */
td.error {
  --rh-table--hoveredCol--Background: #f9cac5;
  --rh-table--hoveredRow--Background: #f0a39a;

  background: #f9cac5;
}

/* Images before they've been lazy loaded */
.js-lazy-load[class] {
  display: block;
  width: 80px;
  height: 80px;
  background: #eee;
  border: 0;
}

.preview-image {
  display: block;
  max-width: 80px;
  height: auto;
  cursor: pointer;
}

/* Images after they've been lazy loaded */
.preview-image:not(.js-lazy-load) {
  box-shadow: 0 0 0 1px #06c;
}
.preview-image:not(.js-lazy-load):hover,
.preview-image:not(.js-lazy-load):focus {
  box-shadow: 0 0 0 2px rgb(0, 76, 152);
}

dialog {
  overflow: auto;
  border: 0;
  box-shadow: 2px 4px 20px #00000099;
}

dialog::backdrop {
  background: #00000099;
}

@supports (object-fit: contain) {
  .modal__preview {
    display: block;
    object-fit: contain;
    max-width: 90vw;
    max-height: 90vh;
  }
}

.content-container {
  width: 75vw;
  max-width: 1600px;
  margin: 0 auto;
}

button {
  display: block;
  margin-top: 2rem;
  padding: 1rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  border: var(--fbc-borders);
  padding: 10px;
}

@supports (display: grid) {
  .product-grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  gap: 10px;
  }
}

.product-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  
  padding: 10px;
  text-align: center;
  background-color: var(--fbc-light-gray);
}

.product-link:hover {
  background-color: var(--fbc-blue-60);
  color: var(--fbc-white);
}

.product-link--active {
  border: 1px solid var(--fbc-blue-70);
  
}